<h1>About Us</h1>
<p>
  <a href="http://eleves.ec-lille.fr/">Beloty</a>
  est un projet d'Impact avec l'option Informatique de gestion 
  de l'<a href="http://eleves.ec-lille.fr/">Ecole centrale de Lille</a>. Cette 
  application est en cours de realisation.
</p>
