<h1>Support</h1>
<p>
  Trouver des informations sur Ruby on Rails
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  Acceder au wiki de Ruby on Rails
  <a href="http://wiki.rubyonrails.org/">Ruby on Rails Wiki</a>.
</p>