<h1>Beloty</h1>

<p>
  Site Impact en partenariat avec l'
  <a href="http://eleves.ec-lille.fr/">Ecole centrale de Lille</a>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>