<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://fr.wikipedia.org/wiki/Belote">Infos</a></li>
      <li><a href="http://www.beloteweb.eu/">Regles</a></li>
    </ul>
  </nav>
</footer>